body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    padding: 32px 40px;
    background-color: #A0F1BD;
}
.topleft h2{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.topleft{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    /* transform: scaleY(1.2);  */
    /* letter-spacing: 0.5; */
    color: #2E4F21;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
   font-family: "Montserrat", sans-serif;
   letter-spacing: -1px;
}
.topright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 20px;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A0F1BD;
    padding: 100px 40px;

}
.section1_1{
    width: 60%;
    gap: 50px;
    display: flex;
    flex-direction: column;
}
.section1_2{
    width: 30%;
}
.section1_1 h1{
    font-size: 80px;
    color: #2E4F21;
    font-weight: normal;
    margin: 0;
     letter-spacing: -5px;
}
.section1_1 p{
    font-size: 16px;
    color: #2E4F21;
    font-weight: normal;
}
.topright p{
    color: #2E4F21;
    font-size: 12px;
    font-weight: 500;
}
.section1btn,.headerbtn{
    width: 148px;
    color: white;
    background-color: #2E4F21;
    border-radius: 20px;
    padding: 12px;
    font-size: 12px;
    text-align: center;
}
.headerbtn{
    width: 127px;  
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    
}
.section1btn:hover{
    background-color: white;
    color: #2E4F21;
    transition: 0.5s;
}
.section2{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px;
    gap: 28px;
}
.section2_1{
    width: 856px;
    gap: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section2_1 h2{
    font-size: 60px;
    font-weight: normal;
    color: #2E4F21  ;
    letter-spacing: -1.5px;
    line-height: 1;
    margin:0    ;
}
.section2 p,h2{
    color: #2E4F21;
}
.section2btn{
    width: 90px;
    background-color: #2E4F21;
    color: white;
    padding: 12px;
    font-size: 12px;
    border-radius: 25px;
}
.sec3{
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: flex-start;

}
.section3{
    
    display: flex;
    width: 856px;
    background-color: #D2F8DC;
    border-radius: 25px;
    
    padding: 80px 100px 80px 80px;
    gap: 70px;
}
.section3-content{
   
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    text-align: start;
    row-gap: 50px;
    column-gap: 50px;
     min-width: 0;
    
}
.section3_img{
    flex: 1;
    align-items: center;
    width: 200px;
    height: 200px;
}

.section3_img img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    
    width: 350px;
    height: 250px;


}
.section4{
     
    display: flex;
    width: 856px;
    background-color: #D2F8DC;
    border-radius: 25px;
    
    padding: 80px 100px 80px 80px;
    gap: 70px;
}
.sec4{
    display: flex;
    justify-content: end;
    padding: 20px 20px 20px 0px;
}
.sec5{
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 20px 20px;
}
.section5{
    
    display: flex;
    width: 856px;
    background-color: #D2F8DC;
    border-radius: 25px;
    
    padding: 80px 100px 80px 80px;
    gap: 70px;
}


.section8{
    display: flex;
    gap: 50px;
}
.section8_1{
    width: 50%;
}
.section8_2{
    width: 50%;
}
.sec8{
    padding: 80px 40px 120px;
   display: flex;
   flex-direction: column;
   gap: 160px; 
}
.sec8_2{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}

.section9{
    display: flex;
    height: 375px;
    padding: 50px 40px;
    gap: 40px;
}
.section9_1{
    
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
align-self: center;
background-color: #2E4F21;
border-radius: 20px;
color: white;
gap: 40px;
}
.section9_1 h2{
    color: white;
    font-weight: normal;
}

.section9_2{
    display: flex;
    align-self: center;
    background-color: #D7FFE6;
    border-radius: 25px;
}
.section9_2 img{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.section10{
    text-align: center;
    padding: 160px 120px;
    gap: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    height: 282px;
    padding: 32px 40px;
    background-color: #2E4F21;
    color: white;
    gap: 50px
}
.section11_1{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
   
}
.section11_2{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    
}
.section11_1_1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.section11_1_1 button{
    border-radius: 25px;
    color: #2E4F21;
    width: 150px;
    height: 37px;
}
p,h1,h2,h3{
    font-family: "Work Sans", sans-serif;
}

.section3-content h2{
    font-size: 40px;
    font-weight: normal;
    color: #2E4F21;
    margin: 0;
}
.section3-content p{
    font-size: 16px;
    font-weight: normal;
    color: #2E4F21;
}
.section3_tax{
    display: flex;
    gap: 10px;
    font-size: 12px;
    
}
.section3_btn{
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    
}
.sec3 h2,p{
    margin: 0;
}
.section8_1 h1{
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    color: #2E4F21;
}
.section8_2 p{
    font-size: 16px;
    font-weight: normal;
    color: #2E4F21;
}
.sec8{
    gap: 100px;
}

.sec8_3 h3{
    font-size: 30px;
    color: #2E4F21;
    font-weight: normal;
    margin: 0;
}
.sec8_3 p{
    font-size: 16px;
    color: #2E4F21;
    margin: 0;
}
.sec8_3{
    display: flex;       
  flex-direction: column; 
  row-gap: 30px;
  padding: 20px 80px 20px 50px;
   border-left: 2px solid #2E4F21;
   
}
.sec8_4 h3{
    font-size: 30px;
    color: #2E4F21;
    font-weight: normal;
    margin: 0;
}
.sec8_4 p{
    font-size: 16px;
    color: #2E4F21;
    margin: 0;
}
.sec8_4{
    display: flex;       
  flex-direction: column; 
  row-gap: 30px;
  padding: 20px 0px 20px 50px;
   border-left: 2px solid #2E4F21;
   
}
.sec8_5 h3{
    font-size: 30px;
    color: #2E4F21;
    font-weight: normal;
    margin: 0;
}
.sec8_5 p{
    font-size: 16px;
    color: #2E4F21;
    margin: 0;
}
.sec8_5{
    display: flex;       
  flex-direction: column; 
  row-gap: 30px;
  padding: 20px 80px 20px 50px;
  border-left: 2px solid #2E4F21;
  
   
}
.section9_1 h2{
    font-size: 40px;
    margin: 0;
}
.section9_1 p{
    font-size: 16px;
}
.section9btn{
    font-size: 12px;
    border-radius: 20px;
    background-color: white;
    color: #2E4F21;
    width: 65px;
    padding: 12px;
}
.section10 h2{
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    color: #2E4F21;
    letter-spacing: -3.5px;
}
.section10btn{
    width: 170px;
    font-size: 15px;
    background-color: #2E4F21;
    color: white;
    padding: 24px 30px;
    border-radius: 30px;
    align-items: center;
}
.section7{
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
 
}
.section7-container{
    display: flex;
    justify-content: space-between;
    width: 1200px ;
    
    
}
/* .container1{
    width: 250px;
    height: 48px;
    padding: 20px 0px;
} */
.container2{
    width: 720px;
    height: 384px;
    padding: 0px 30px 0px 40px;
}
.conta1{
    width: 250px;
    height: 88px;
    padding: 20px 30px;
    
}
.conta11{
    width: 250px;
    height: 88px;
    padding: 20px 30px;
    background-color: #2E4F21;
    color: white;
    border-radius: 20px;
     
}
.conta11 h2{
    color: white;
    font-size: 18px;
    font-weight: 500;
     
}
.conta1 h2{
    font-size: 18px;
    font-weight: 500;
    /* margin: 0; */
}
.container2 h2{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

@media screen  and (width <=992px){
    .section1{
        display: grid;
        grid-column: 1;
        width: auto;
        grid-template-areas: 
      "second"
      "first";
    }
    .container2{
        width: 400px;
    }
    .section1_1{
        width: 50%;
        grid-area: first;
    }
    .section1_2{
        grid-area: second;
    }
    .section3_img img {
    max-height:300px;
  }
    .section3_img img{
        width: 250px;
        height: 250px;
    }
    .section3_img {
        width: 40%;
        
    }
    .section3{
        width: 90%;
        padding: 20px;
        gap: 10px;
    }
    .section4{
        width: 90%;
        padding: 20px;
        gap: 10px;
        justify-content: flex-start;
        display: flex;
    }
    .section5{
      width: 90%;
        padding: 20px;
        gap: 10px;
    }
    .sec4{
        justify-content: start;
        padding-left: 20px;
    }
    .section3-content h2{
        font-size: 30px;
    }
    .section3-content {
        row-gap: 30px;
        padding: 30px;
    }
     .sec8_3{
        border-top: 2px solid #2E4F21;
        border-left: hidden;
    }
    .sec8_4{
        border-top: 2px solid #2E4F21;
        border-left: hidden;
    }
    .sec8_5{
        border-top: 2px solid #2E4F21;
        border-left: hidden;
    }
    .section9{
        display: grid;
        grid-template-columns: 1fr ;
        height: auto;
      padding: 25px;
      /* width: 760px; */
    }
    /* .section9_1{
        width: 600px;
    } */
   
     
    .sec8_2{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .section8_1 h1{
        font-size: 40px;
        font-weight: 500;
    }
    .section10{
        width: 500px;
    }
    .section10 h2{
        font-size: 50px;
    }
    
    .section1_1{
        width: auto;
        gap: 20px;
    }
    
    .section2_1{
        width: 600px;
    }
    .section1_2{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
   .section9_2{
        /* width: 300px; */
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section9_2 img{
        width: 380px;
        height: 250px;
    }
    .section1{
        gap: 50px;
    }
   
}

@media screen  and (width <=576px){
    .section1_1 h1{
        font-size: 50px;
    }
    .section1_1{
        width: auto;
        gap: 20px;
    }
    .headerbtn span{
        display: none;
    }
    .header{
        padding: 25px;
    }
    .section1_2{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .section1_2 img{
        width: 250px;
        width: 250px;
        height: 250px;
    }
    .section1{
        gap: 50px;
    }
    .section3-content h2{
        font-size: 28px;
    }
    .section3{
        display: grid;
        grid: 1;
        width: auto;
        
    }
    .section3-content {
        width: auto;
    }
    .section3_img{
       display: flex;
       justify-content: center;
        align-items: center;
        width: auto;
    }
    .section4{
        width: auto;
    }
    .section5{
        width: auto;
    }
    .sec8_3{
        width: auto;
        padding: 30px 30px 30px 30px ;
    }
    .sec8_4{
        width: auto;
        padding: 30px 30px 30px 30px ;
    }
    .sec8_5{
        width: auto;
        padding: 30px 30px 30px 30px ;
    }
    .sec8{
        gap: 70px;
        /* padding: 30px 30px 30px 30px ; */
    }
    .section3_img img{
        width: 200px;
        height: 200px;
    }
    .section4{
        display: grid;
        grid: 1;
    }
    .section5{
        display: grid;
        grid: 1;
    }
     .section8{
        display: grid;
        grid: 1;
        width: auto;
    }
    .section8_1{
    width: 100%;
}
.section8_2{
    width: 100%;
}
     .section8_1 h1{
        font-size: 35px;
    }
    .sec8_2{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .section9{
        display: grid;
        grid-template-columns: 1fr ;
        height: auto;
        width: auto;
        padding: 10px;
        /* width: 300px; */
    }
    .section9_1{
        /* width: 300px; */
        padding: 30px;
        width: auto;
        height: auto;
    }
    .section9_2{
        /* width: 300px; */
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section9_2 img{
        width: 380px;
        height: 250px;
    }

    .section10{
        font-size: 25px;
        padding: 20px;
        width: auto;
       padding-bottom: 100px;
    }
    .section10 h2{
        font-size: 40px;
    }
   
    .section2_1{
        width: 400px;

    }
    .section2_1 h2{
        font-size: 40px;

    }
    .section11_1{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .section11_2{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
    .section7-container{
       display: grid;
        grid-template-columns: 1fr; 
        row-gap: 60px;
        width: auto;
    }
    .conta1{
        width: 78px;
        padding: 12px;
        font-size: 12px; 
    }
    .conta1 h2{
        font-size: 12px;
    }
     .conta11 h2{
        font-size: 12px;
    }
    .conta11{
        width: 78px;
        padding: 12px;
        font-size: 12px;
        
    }
    .container1{
        display: flex;
        width: auto;
        justify-content: center;
    }
    .container2{
        width: auto;
    }
    .container2 h2{
        font-size: 25px;
    }
    footer{
        height: auto;
    }
}